<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caesar Cipher</title>
    
    <%= css :reset, :media_query, :style %>
  </head>
  
  <body>
    <!-- <div class="media-query__div"></div> -->
    
    <section class="cipher__section">
      <article class="">
        <header class="cipher__header">
          <h3 class="cipher__heading3">THE</h3>
          <h1 class="cipher__heading1 background-scroll">CAESAR CIPHER</h1>
          <h2 class="cipher__heading2">RELOADED</h2>
        </header>
        
        <%= erb :_introduction %>
        
        <%= yield %>
        
        <div class="spacer__div--dynamic">
          <% if encrypted_message %>
            <p class="response__paragraph"><%= response %></p>
            <p class="response__paragraph response__paragraph--active"><%= response_active %></p>
            <p class="encrypted-message__paragraph"><%= encrypted_message %></p>
          <% end %>
        </div>
      </article>
      
    </section>    
    
    <%= erb :_footer %>
  </body>
  
</html>
  
